# User-specific files
*.rsuser
*.suo
*.user
*.env

# Windows build outputs
*.exe
*.msi

/deps
/Yedasie3DEngine/Yedasie3DEngine/x64
/Yedasie3DEngine/Yedasie3DEngine/.vs
/Yedasie3DEngine/Yedasie3DEngine/Win32
/doc
/Yedasie3DEngine/bin
